form{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center  ;
}

.entrieList{
    display: flex;
    margin: 10px;
    width: 750px;
    border-radius: 5px;
}

.cashOutList{
    display: flex;
    margin: 10px;
    width: 750px;
    border-radius: 5px;
}

.cashInItens{
    margin: 0;
    color: white;
    border-right: 3px dotted rgb(0, 77, 0);
    padding: 5px;
}

.menuBar{
    width: 10%;
}

.containerCaixa{
    width: 100%;
}

.cashOutItens{
    margin: 0;
    color: white;
    border-right: 3px dotted rgb(77, 0, 0);
    padding: 5px;
}

.btnOpenEntrieRegister{
    background-color: darkgreen;
    margin-right: 10px;
}

.btnOpenCashOutRegister{
    background-color: darkred;
}

.cashOutList{
    background-color: darkred;
    justify-content: center;
}

.entrieList{
    background-color: darkgreen;
    justify-content: center;
}

.closeModal{
    cursor: pointer;
}